body{
    margin: 0px;
    height: 100vh;
}

h1, h2, p, h4{
    text-align: center;
}

h1, h2{
    font-size: 25px;
}

.seccion{
    margin: 20px;    
    font-size: 15px;
}

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button{
    outline: none;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    height: 30px;
    display: block;
    border-radius: 15px;
    border-color: gray;
    font-size: inherit;
    -webkit-appearance: none;
}

button{
    border: none;
    border-radius: 15px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    display: block;
    margin-top: 50px;
    text-align: center;
}

#results{
    text-align: center;
    margin-top: 10px;
    color: red;
}

hr {
    width: 50%;
    border: dotted;
    color: gray;
    outline: none;
    border-radius: 60px;
}

a{
    text-decoration: none;
}